---
//path: webapp/src/components/messages/ChatBar.astro
import Button from '../primitives/Button.astro';
import FileSvg from '../primitives/Svg.astro';
import SendSvg from '../primitives/Svg.astro';
import { classNames } from "../../styles/classStyles";

const { page } = Astro.props as {
    page: string;
};
---
<script>
    import { updateMessagesStateEvent, $textAreaValue } from "../../stores/store";

  //HANDLE FORM SUBMISSION
    const formElement = document.getElementById('chat-bar-form') as HTMLFormElement;
    const textareaElement = document.getElementById('chat-bar-textarea') as HTMLTextAreaElement;
    const suggestionsElement = document.getElementById('suggestion-button') as HTMLElement;

  // CREATE MESSAGE
    function createMessage(event: Event) {
      event.preventDefault();
      const messageContent = textareaElement.value.trim();
      if (!messageContent) {
        alert("Please fill in the message.");
        return;
      }
      updateMessagesStateEvent(messageContent);
      textareaElement.value = '';
    }

    function clearTextareaOnFocus(event: Event) {
      textareaElement.value = '';
    }
    
  // ADD EVENT LISTENERS
    document.addEventListener("DOMContentLoaded", () => {
  //ADD SUGGESTION BUTTON LISTENERS
      suggestionsElement? suggestionsElement.addEventListener("keydown",handleTextareaKeydown): console.warn("Could not find the '#suggestion-button' element.");
  //ADD FORM EVENT LISTENERS
      formElement? formElement.addEventListener("submit", createMessage): console.warn("Could not find the '.chat-bar-form' element.");
      
  //ADD TEXTAREA EVENT LISTENERS
      if (textareaElement) {
        textareaElement.addEventListener("focus", clearTextareaOnFocus);
        textareaElement.addEventListener("keydown", handleTextareaKeydown);
      
      } else {
        console.warn("Could not find the '#chat-bar-textarea' element.")
      }

      function handleTextareaKeydown(event: KeyboardEvent) {
        if (event.key === "Enter" && !event.shiftKey) {
          createMessage(event);
        }
      }
  });

</script>

<form id="chat-bar-form" class={classNames("chatBarForm")}>
  <label id="chat-bar-label" for="chat" class={classNames("chatBarLabel")}>Your message</label>
  <Button id="primitives-file-button" classes="primitivesFileButton">
    <FileSvg type="file" group="message"/>
  </Button>
  <textarea 
    id="chat-bar-textarea"" 
    rows="1" 
    class={classNames("chatBarTextarea")}
    placeholder=" Message..." 
    value=""
    >
  </textarea>
  <Button id="primitives-purple-button-send" classes="primitivesPurpleButton" page={page} onClicked="route" type="submit">
    <SendSvg type="send" group="message"/>
  </Button>
    <span id="chat-bar-span" class={classNames("chatBarSpan")}>
      Send message
    </span>
</form>
