---
//path: /src/components/messages/ChatMessages.astro
import { classNames } from "../../styles/classStyles";

---
<script>
    import { $allMessages } from "../../stores/store";
    import { classNames } from "../../styles/classStyles";
    const targetDiv = document.querySelector<HTMLDivElement>('#chat-message');

    function renderMyMessages(message: any) {
      const messageHtml = `
        <div id="chat-message-column-container" class="${classNames("chatMessageColumnContainer")}${message.sender === 'me' ? classNames("chatMessageColumnContainerYou") : classNames("chatMessageColumnContainerYou")}">
          <div id="chat-message-row-container" class="${classNames("chatMessageRowContainer")} ${message.sender === 'me' ? classNames("chatMessageRowContainerMe") : classNames("chatMessageRowContainerYou")}">
            <div id="chat-message-avatar-container" class="${classNames("chatMessageAvatarContainer")}">
              <img id="chat-message-avatar" class="rounded-full" src=${message.image} alt=${message.name} />
            </div>
            <div id="chat-message-bubble" class="${classNames("chatMessageBubble")}${message.sender === 'you' ? classNames("chatMessageBubbleMe"): classNames("chatMessageBubbleYou")}">
              ${message.message} 
            </div>
          </div>
        </div>
      `;
      targetDiv.innerHTML += messageHtml; 

      // Scroll the chat messages container to the bottom after adding a new message
      const chatMessagesContainer = document.getElementById("chat-messages");
      chatMessagesContainer.scrollTop = chatMessagesContainer.scrollHeight;
    }
    
    let unsubscribe;
    unsubscribe;
    function initialize() {
        unsubscribe = $allMessages.subscribe(updatedMessages => {  
            targetDiv.innerHTML = '';
            updatedMessages.forEach(renderMyMessages);
        });
    }

    initialize();
</script>
    
<section id="chat-messages" class={classNames("chatMessages")}>
   <div id="chat-message" class={classNames("chatMessage")}>
  </div>
</section>
