---
//path: src/components/animations/CanvasScene.astro
---
<script>
  import { ThreeCanvas } from '../../graphics/ThreeCanvas';
  const canvasElement = document.querySelector<HTMLSectionElement>('#canvas-scene');

  if (canvasElement) {
    const canvas = new ThreeCanvas(canvasElement);
    window.myCanvas = canvas; // Expose the canvas instance to the window
    
    window.addEventListener('beforeunload', () => {
      canvas.dispose();
    });
  }
</script>

<section id="canvas-scene" class="w-full overflow-x-auto mt-6 rounded-2xl"></section>
