---
//path: src/components/messages/ChatMessages.astro
---
<script>
  import { allMessagesState } from "../../stores/store";
  const targetDiv = document.querySelector<HTMLDivElement>('#message-parent');

  function renderMyMessages(message: any) {
    const messageHtml = `
      <div class="${message.sender === 'me' ? 'col-start-6 col-end-13' : 'col-start-1 col-end-8'} p-3 rounded-lg">
        <div class="flex flex-row items-center ${message.sender === 'me' ? 'flex-row-reverse' : ''}">
          <div class="flex items-center justify-center h-10 w-10 rounded-full bg-purple-500 flex-shrink-0">
            <img class="rounded-full" src=${message.image} alt=${message.name} />
          </div>
          <div class="relative sm:max-w-1/3 ml-3 text-sm ${message.sender === 'you' ? 'bg-gray-200' : 'bg-purple-300'} py-2 px-4 shadow rounded-xl">
            ${message.message} 
          </div>
        </div>
      </div>
    `;
    targetDiv.innerHTML += messageHtml; 
  }
  
  let unsubscribe;
  unsubscribe;
  function initialize() {
      unsubscribe = allMessagesState.subscribe(updatedMessages => {  
          targetDiv.innerHTML = '';
          updatedMessages.forEach(renderMyMessages);
      });
  }
  
  initialize();
</script>
  
<section class="min-h-[59vh] w-full h-4/6 overflow-x-auto mt-6 mb-2 pt-2 bg-white rounded-2xl">
  <div id="message-parent" class="grid grid-cols-12 gap-y-2">
  </div>
</section>
