---
//ChatSuggestionBar.astro
import SuggestionButton from './primitives/SuggestionButton.astro';
import { suggestionOptions } from "../stores/store";
    let chatSuggestionOptions = {};
    suggestionOptions.subscribe((suggestionOption) => {
      chatSuggestionOptions = suggestionOption;
    });
---
<script>
    import {  
        suggestionPlaceholder, 
        updateSuggestionPlaceholderEvent,  
    } from "../stores/store";
    

    document.addEventListener("click", (event) => {
        const target = event.target as HTMLElement;

        // Handling suggestion button click
        if (target.matches("button.selectSuggestionOption")) {
            const suggestion = target.textContent;
            updateSuggestionPlaceholderEvent(suggestion);
            return;
        }
    });

    // Listen to changes in the SuggestionPlaceholder store and change the value of the input placeholder accordingly
    const input = document.querySelector("#inputMessage") as HTMLInputElement;
    suggestionPlaceholder.subscribe((suggestion) => {
      input.placeholder = suggestion;
    });
</script>

<section class="mb-1">
    {Object.keys(chatSuggestionOptions).map((key: string) => {
        const suggestionOption = (chatSuggestionOptions as { [key: string]: any })[key];
        return (
            <SuggestionButton
                key={key}
                suggestion={suggestionOption}
            />
        );
    })}
</section>
