---
//path: /src/components/messages/ChatSuggestionBar.astro
import {classNames} from "../../styles/classStyles";

---
<script>
    import {  
        $textAreaValue, 
        updateTextareaValueSuggestionStateEvent,  
        $suggestions,
        updateMessagesStateEvent
    } from "../../stores/store";
    import {classNames} from "../../styles/classStyles";
    const buttonElement = document.querySelector<HTMLButtonElement>('#suggestion');
    const textareaElement = document.querySelector("#chat-bar-textarea") as HTMLTextareaElement;
    
    // Render Suggestion Buttons
    function renderMySuggestions(suggestion: any) {
        const suggestionHtml = `
            <button
              id="suggestion-button"
              class="${classNames("suggestionButton")}"
            >
              ${suggestion}
            </button>
        `;
        buttonElement.innerHTML += suggestionHtml;
    }
    let unsubscribe;
    unsubscribe;
    function initialize() {
        unsubscribe = $suggestions.subscribe(updatedSuggestions => {  
            buttonElement.innerHTML = '';
            updatedSuggestions.forEach(renderMySuggestions);
        }); 
          
    }
    initialize();

    // CREATE MESSAGE
      function createMessage(event: Event) {
      event.preventDefault();
      const messageContent = textareaElement.value.trim();
      if (!messageContent) {
        alert("Please fill in the message.");
        return;
      }
      updateMessagesStateEvent(messageContent);
      textareaElement.value = '';
    }

    // UPDATE TEXTAREA VALUE ON SUGGESTION BUTTON CLICK
    document.addEventListener("click", (event) => {
        const target = event.target as HTMLButtonElement;
        if (target.matches("#suggestion-button")) {
            const suggestion = target.innerText;
            $textAreaValue.set(suggestion);
            return;
        }
    });

    //ADD KEYDOWN EVENT LISTENER TO SUGGESTION BUTTONS
    document.addEventListener("keydown", (event: KeyboardEvent) => {
        const target = event.target as HTMLButtonElement;
        if (target.matches("#suggestion-button")) {
            const suggestion = target.innerText;
            if (event.key === "Enter") {
                createMessage(event);
                return;
            }
        }
    });
 
  // UPDATE SUGGESTION STATE STORE 
    $textAreaValue.subscribe((suggestion) => {
      textareaElement.value = suggestion;
    });
</script>

<div id="suggestion" class={classNames("suggestion")}>
</div>
