---
//path: webapp/src/components/messages/ChatRecommendationBar.astro
import {classNames} from "../../styles/classStyles";
---
<script>
    import {  
        $textAreaValue, 
        $recommendations,
        updateMessagesStateEvent
    } from "../../stores/store";
    import {classNames} from "../../styles/classStyles";
    const buttonElement = document.querySelector<HTMLButtonElement>('#recommendation') as HTMLButtonElement;
    const textareaElement = document.querySelector<HTMLTextAreaElement>("#chat-bar-textarea") as HTMLTextAreaElement;
    
    // Render Recommendation Buttons
    function renderMyRecommendations(recommendation: any) {
        const recommendationHtml = `
            <button
              id="recommendation-button"
              class="${classNames("recommendationButton")}"
            >
              ${recommendation}
            </button>
        `;
        buttonElement.innerHTML += recommendationHtml;
    }

    // SUBSCRIBE TO RECOMMENDATION STATE STORE
    $recommendations.subscribe(updatedRecommendations => {  
      buttonElement.innerHTML = '';
      updatedRecommendations.forEach(renderMyRecommendations); 
    });

    // RESIZE TEXTAREA ON INPUT
    function handleTextareaInput() {
      textareaElement.style.height = 'auto'; // Reset the height to auto
      textareaElement.style.height = (textareaElement.scrollHeight) + 'px'; // Set the height to the scrollHeight
      textareaElement.dispatchEvent(new Event('input'));
    }
    // CREATE MESSAGE
      function createMessage(event: Event) {
      event.preventDefault();
      const messageContent = textareaElement.value.trim();
      if (!messageContent) {
        alert("Please fill in the message.");
        return;
      }
      updateMessagesStateEvent(messageContent);
      textareaElement.value = '';
    }

    // UPDATE TEXTAREA VALUE ON RECOMMENDATION BUTTON CLICK
    document.addEventListener("click", (event) => {
        const target = event.target as HTMLButtonElement;
        if (target.matches("#recommendation-button")) {
            const recommendation = target.innerText;
            $textAreaValue.set(recommendation);
           handleTextareaInput();
            return;
        }
    });

    //ADD KEYDOWN EVENT LISTENER TO RECOMMENDATION BUTTONS
    document.addEventListener("keydown", (event: KeyboardEvent) => {
        const target = event.target as HTMLButtonElement;
        if (target.matches("#recommendation-button")) {
            if (event.key === "Enter") {
                createMessage(event);
                return;
            }
        }
    });
 
  // UPDATE RECOMMENDATION STATE STORE 
    $textAreaValue.subscribe((recommendation) => {
      textareaElement.value = recommendation;
    });
</script>

<div id="recommendation" class={classNames("recommendation")}>
</div>
