---
//Footer.astro
import GitHubButton from '../primitives/GitHubButton.astro'
import TwitterButton from './primitives/TwitterButton.astro'
---
<footer class="py-5 md:py-5 bg-purple-600 ">
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start">
            <ul role="list" class="space-y-8">
              <li>
                <GitHubButton />
              </li>
              <li>
                <TwitterButton />
              </li>
            </ul>
          </div>
          <div class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left">
            <span class="flex justify-between text-gray-600 dark:text-white">
              <a href="/" class="font-medium">Terms of Use </a>
              <a href="/" class="font-medium"> Home</a>
              <a href="/agent" class="font-medium"> Agent</a>
            </span>
            <span class="block text-gray-500 dark:text-gray-400">Need help? 
              <a href="/" class="font-semibold text-gray-600 dark:text-white"> Contact Us</a>
            </span>
          </div>
        </div>
      </div>
</footer>
