---
//path: /src/components/templates/Footer.astro
import FacebookSvg from '../primitives/Svg.astro';
import TwitterSvg from '../primitives/Svg.astro';
import GoogleSvg from '../primitives/Svg.astro';
import InstagramSvg from '../primitives/Svg.astro';
import LinkedInSvg from '../primitives/Svg.astro';
import GitHubSvg from '../primitives/Svg.astro';
import Link from "../primitives/Link.astro";
import {classNames} from "../../styles/classStyles";
---
<footer id="footer"class={classNames("footer")}>
  <div id="footer-social-links-container" class={classNames("footerSocialLinksContainer")}>
    <div id="footer-social-links-inner-container" class={classNames("footerSocialLinksInnerContainer")}>
      <Link route="https://facebook.com" >
        <FacebookSvg  type="facebook" group="footer" />
      </Link>
      <Link route="twitter.com" >
        <TwitterSvg  type="twitter" group="footer" />
      </Link>
      <Link route="https://google.com" >
        <GoogleSvg  type="google" group="footer" />
      </Link>
      <Link route="https://instagram.com" >
        <InstagramSvg  type="instagram" group="footer" />
      </Link>
      <Link route="https://linkedin.com" >
        <LinkedInSvg  type="linkedin" group="footer" />
      </Link>
      <Link route="https://github.com" >
        <GitHubSvg  type="github" group="footer" />
      </Link> 
    </div>
    <div id="footer-company-name-link-container" class={classNames("footerCompanyNameLinkContainer")}>
      <a href="/" id="footer-company-name-link" class={classNames("footerCompanyNameLink")}>
        Telehero
      </a>
    </div>
  </div>
</footer>