---
//path: /src/components/templates/Header.astro
import Container from "../common/Container.astro";
import { WEBSITE_NAME} from "../../../config/config.js"
import { classNames } from "../../styles/classStyles.js";
const links = [
  {
    to: "/",
    label: "Home",
  },
  {
    to:"agent",
    label: "Agent",
  }
];
export const classData = {
  "nav": "w-full bg-primary-purple lg:border-transparent",
  "navContentsContainer": "relative flex flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4",
  "navLogoContainer": "relative flex w-full justify-between md:px-0 lg:w-max",
  "navLogoLink": "flex items-center space-x-2",
  "navLogoImageContainer": "flex space-x-1",
  "navLogoImage": "w-10 h-10",
  "navLogoImageDot": "h-6 w-2 bg-primary",
  "navLogoCompanySpan": "text-1xl font-bold text-white",
  "navHamburgerContainer": "relative flex max-h-10 items-center lg:hidden",
  "navHamburgerButton": "relative mr-6 p-6",
  "navHamburgerLineOne": "m-auto h-0.5 w-5 rounded bg-sky-900 transition duration-300 dark:bg-gray-300",
  "navHamburgerLineTwo": "m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 transition duration-300 dark:bg-gray-300",
  "navLinks": "invisible z-10 absolute top-full left-0 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-3xl border border-gray-100 bg-primary-white p-8 opacity-0 shadow-2xl shadow-gray-600/10 transition-all duration-300 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none lg:visible lg:relative lg:flex lg:w-7/12 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none",
  "navLinksListContainer": "w-full text-white lg:w-auto lg:pr-4 lg:pt-0",
  "navLinksList": "flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm",
  "navLinksListLi": "font-bold hover:text-primary block transition dark:hover:text-white md:px-4",
  "navLinksListSpan": "",

}
---
<script>
  let isToggled = false;
  const navlinks = document.querySelector("#nav-links");
  const hamburger = document.querySelector("nav-hamburger-button");
  const layer = document.querySelector("#navLayer");
  const links = [...document.querySelectorAll("#nav-links a")];

  function toggleNavlinks() {
    if (isToggled) {
      navlinks?.classList.add("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0");
      hamburger?.classList.add("toggled");
      layer?.classList.add("origin-top", "scale-y-100");
    } else {
      navlinks?.classList.remove("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0");
      hamburger?.classList.remove("toggled");
      layer?.classList.remove("origin-top", "scale-y-100");
    }
  }

  hamburger?.addEventListener("click", () => {
    isToggled = !isToggled;
    toggleNavlinks();
  });

  links?.forEach((link) => {
    link?.addEventListener("click", () => {
      isToggled = !isToggled;
      toggleNavlinks();
    });
  });
</script>

<header>
  <nav id="nav" class={classNames("nav")}>
    <Container>
      <div id="nav-contents-container" class={classNames("navContentsContainer")}>
        <div id="nav-logo-container" class={classNames("navLogContainer")}>
          <a id="nav-logo-link" ref="/" aria-label="logo" class={classNames("navLogoLink")}>
            <div id="nav-logo-image-container" aria-hidden="true" class={classNames("navLogoImageContainer")}>
              <img id="nav-logo-image" src="/images/svg/ai-logo.svg" alt="logo" class={classNames("navLogoImage")} />
              <div id="nav-logo-image-dot" class={classNames("navLogoImageDot")}>
              </div>
            </div>
            <span id="nav-logo-company-span" class="text-1xl font-bold text-white">{WEBSITE_NAME}</span>
          </a>
          <div id="nav-hamburger-container" class={classNames("navHamburgerContainer")}>
            <button id="nav-hamburger-button" aria-label="hamburger" id="hamburger" class={classNames("navHamburgerButton")}>
              <div id="nav-hamburger-line-one" aria-hidden="true" id="line" class={classNames("navHamburgerLineOne")}>
              </div>
              <div id="nav-hamburger-line-two" aria-hidden="true" id="line2" class={classNames("navHamburgerLineTwo")}>
              </div>
            </button>
          </div>
        </div>
        <div id="nav-links" class={classNames("navLinks")}>
          <div "id="nav-links-list-container" class={classNames("navLinksListContainer")}>
            <ul id="nav-links-list" class={classNames("navLinksList")}>
              {
                links.map((link) => (
                  <li>
                    <a id="nav-links-list-li" href={link.to} class={classNames("navLinksListLi")}>
                      <span id="nav-links-list-span" class={classNames("navLinksListSpan")}> {link.label}</span>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </Container>
  </nav>
</header>




  

