---
//path: /src/components/templates/Hero.astro
import Container from "../common/Container.astro"
import ChatBar from "../messages/ChatBar.astro"
import {classNames} from "../../styles/classStyles.js"
---
<section id="hero" class={classNames("hero")}>
    <Container>
        <div id="hero-spacer" class={classNames("heroSpacer")}></div>
            <h1 id="hero-heading" class={classNames("heroHeading")}>
                <span id="hero-span" class={classNames("heroSpan")}>
                    Ask me anything?
                </span>
            </h1>
        <div id="heroChatBarContainer" class={classNames("heroChatBarContainer")}>
            <ChatBar page="home"/>
        </div>
    </Container>
</section>

