---
// path: webapp/src/components/primitives/CardHeader.astro
import { classNames } from "../../styles/classStyles";

const { classes, title, type} = Astro.props as {
    classes: string;
    title: string;
    type: string;
};

---
<script>
    import { $canvasTitle } from "../../stores/store";
    import { classNames } from "../../styles/classStyles";
    const targetDiv = document.querySelector<HTMLDivElement>('#common-card-header-animation-container') as HTMLDivElement;
    function renderTitle() {
        const titleHtml = `
            <div id="common-card-header-title" class="${classNames("commonCardHeaderTitleAnimation")}">
                ${$canvasTitle.get()}
            </div>
            `;
            targetDiv.innerHTML += titleHtml;
    }
    // SUBSCRUBE TO CANVAS TITLE STORE AND RENDER TITLE
    $canvasTitle.subscribe( _newState => {  
        targetDiv.innerHTML = ''; // Clear the previous title
        renderTitle();
    }); 
</script>

{type === "message" && (
    <div id="common-card-header" class={classNames(classes)}>
        <div id="card-header-slot-container" class={classNames("commonCardHeaderSlotContainer")}>
            <slot/>
        </div>
        <div class={classNames("commonCardHeaderTitleMessages")}> 
            {title} 
        </div>
    </div>
)}
{type === "animation" && (
    <div id="common-card-header" class={classNames(classes)}>
       <div id="common-card-header-animation-container" class={classNames("commonCardHeaderAnimationContainer")}>
        </div>
    </div>
)}

