---
// path: src/components/common/Card.astro
import {classNames} from "../../styles/classStyles";
const { type} = Astro.props as {
    type: string;
};
---
<div id="common-card" class={classNames("commonCard", type === "message" ? "commonCardMessage" : "commonCardAnimation")} >
    <slot />
</div>
