---
// path: /src/components/primitives/CardHeader.astro
import HomeButton from './Button.astro';
import Svg from './Svg.astro';
import { classNames } from "../../styles/classStyles";

const { classes, title, type} = Astro.props as {
    classes: string;
    title: string;
    type: string;
};

---
<script>
    import { $canvasTitle } from "../../stores/store";
    import { classNames } from "../../styles/classStyles";
    const targetDiv = document.querySelector<HTMLDivElement>('#common-card-header-animation-container');
    function renderTitle() {
        const titleHtml = `
            <div id="common-card-header-title" class="${classNames("commonCardHeaderTitleAnimation")}">
                ${$canvasTitle.get()}
            </div>
            `;
            targetDiv.innerHTML += titleHtml;
    }
    function initialize() {
        $canvasTitle.subscribe( newState => {  
            targetDiv.innerHTML = ''; // clear the div
            renderTitle();
        }); 
    }
    initialize();
</script>

{type === "message" && (
    <section id="common-card-header" class={classNames(classes)}>
        <div id="card-header-slot-container" class={classNames("commonCardHeaderSlotContainer")}>
            <slot/>
        </div>
        <div class={classNames("commonCardHeaderTitleMessages")}> 
            {title} 
        </div>
    </section>
)}
{type === "animation" && (
    <section id="common-card-header" class={classNames(classes)}>
       <div id="common-card-header-animation-container" class={classNames("commonCardHeaderAnimationContainer")}>
        </div>
    </section>
)}

