---
// path: /src/components/common/CardHolder.astro
import {classNames} from "../../styles/classStyles";
---
<section id="common-card-holder" class={classNames("commonCardHolder")} >
      <slot/>
</section>