---
// Card.astro
---
<section class="bg-white p-5 rounded-lg shadow-sm mb-5 mr-5 mt-20">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col flex-auto h-full p-6">
      <slot />
    </div>
  </div>
</section>

