---
//Layout.astro
import Footer from "../components/templates/Footer.astro";
import Header from "../components/templates/Header.astro";
---

<!DOCTYPE html>
<html lang="en" class="font-urbanist scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="images/png/bot.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="3D Graphics Rendering and AI Chat Application" />
        <title>jostaberry</title>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
    </head>
    <body class="bg-white dark:bg-gray-100 m-0">
        <Header />
        <slot />
        <Footer />
    </body>
</html>

