---
//Layout.astro
import {classNames} from "../styles/classStyles.js";
//import Footer from "../components/templates/Footer.astro";
---

<!DOCTYPE html>
<html id="html" lang="en" class={classNames("html")}>
    <head id="head">
        <meta id="head-meta-charset" charset="UTF-8" />
        <meta id="head-meta-viewport" name="viewport" content="width=device-width, initial-scale=1.0" />
        <link id="head-icon" rel="icon" type="image/svg+xml" href="images/png/bot.png" />
        <meta id="head-meta-generator" name="generator" content={Astro.generator} />
        <meta id="head-meta-description" name="description" content="3D Graphics Rendering and AI Chat Application" />
        <title id="head-title" >TeleHero</title>
    </head>
    <body id="body" class={classNames("body")}>
        <slot />
    
    </body>
</html>

