---
// ArrowButton.astro
const { direction} = Astro.props as {
    direction: string;
};
---
{direction === 'left' && (
  <button class="bg-purple-700 text-white rounded-lg p-2 bg-opacity-85 hover:bg-purple-700 hover:bg-opacity-75 active:bg-purple-800 transform transition-transform duration-150 active:scale-95 text-white  focus:outline-none">
    <svg
      class="w-4 h-4"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      ></path>
    </svg>
  </button>
)}
{direction === 'right' && (

<button class="bg-purple-700 text-white rounded-lg p-2 bg-opacity-85 hover:bg-purple-700 hover:bg-opacity-75 active:bg-purple-800 transform transition-transform duration-150 active:scale-95 text-white  focus:outline-none">
    <svg
      class="w-4 h-4"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      ></path>
    </svg>
  </button>
)}
