---
// path: src/components/primitives/CardHeader.astro
const { title} = Astro.props as {
    title: string;
};
---
<section class="flex flex-row items-center justify-center h-12 w-full mb-1">
    <div class="flex items-center justify-center rounded-2xl text-purple-700 bg-purple-100 h-10 w-10">
        <slot/>
    </div>
    <div class="ml-2 font-bold text-2xl">{title}</div>
</section>