---
//path: /src/components/messages/ChatSuggestionBar.astro
import {classNames} from "../../styles/classStyles";
import Wrapper from "../common/Wrapper.astro";
const { id, classes, onClicked, page, text, type} = Astro.props as {
    id?: string;
    classes?: string;
    onClicked?: string;
    page?: string;
    text?: string;
    type?: string;
};
function controlClick() {
    if (onClicked == "zoomInX") {
        return "window.myCanvas?.zoomInX()"
    } else if (onClicked == "zoomOutX") {
        return "window.myCanvas?.zoomOutX()"
    }else if (onClicked == "zoomOutX") {
        return "window.myCanvas?.zoomOutX()"
    }else if (onClicked == "zoomInY") {
        return "window.myCanvas?.zoomInY()"
    }else if (onClicked == "zoomOutY") {
        return "window.myCanvas?.zoomOutY()"
    } else if (onClicked == "zoomInZ") {
        return "window.myCanvas?.zoomInZ()"
    } else if (onClicked == "zoomOutZ") {
        return "window.myCanvas?.zoomOutZ()"
    } else if (onClicked == "zoomIn") {
        return "window.myCanvas?.zoomIn()"
    } else if (onClicked == "zoomOut") {
        return "window.myCanvas?.zoomOut()"
    } else if (onClicked == "rotateX") {
        return "window.myCanvas?.rotateX()"
    } else if (onClicked == "rotateY") {
        return "window.myCanvas?.rotateY()"
    } else if(onClicked === "route" && page==="home"){
       return 'window.location.href = "/agent"';
    }else if(onClicked === "route" && page==="agent" && type!="submit"){
        return 'window.location.href = "/"';
    } else {
        return ""
    }
}
---

<button 
    id={id? id : ""}
    onclick={controlClick()} 
    class={classNames(classes)}
    >
    { text ? <Wrapper> { text } </Wrapper> : ""}
        <slot />
</button>
