---
// path: src/components/primitives/Link.astro
import Svg from "./Svg.astro";
const { route} = Astro.props as {
    type: string; 
};
---
<a
  href={route || "#!"}
  type="button"
  class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
  data-te-ripple-in="dark"
  data-te-ripple-color="light"
>
  <slot/>
</a>