---
// path: webapp/src/components/primitives/Link.astro
import {classNames} from "../../styles/classStyles.js";
const {route} = Astro.props as {
    route: string; 
};
---
<a
  id="primitives-link"
  href={route || "#!"}
  type="button"
  class={classNames("primitivesLink")}
  data-te-ripple-in="dark"
  data-te-ripple-color="light"
>
  <slot/>
</a>