---
// ZoomButton.astro
const { text} = Astro.props as {
    text: string;
};

function zoomClick() {
    if (text == "Zoom In") {
        return "window.myCanvas?.zoomIn()"
    } else {
        return "window.myCanvas?.zoomOut()"
    }
}
---

<button onclick={zoomClick()} class="bg-purple-700 text-white rounded-lg p-2 bg-opacity-85 hover:bg-purple-700 hover:bg-opacity-75 active:bg-purple-800 transform transition-transform duration-150 active:scale-95 text-white  focus:outline-none">{text}</button>
