---
// SuggestionButton.astro
const { suggestion } = Astro.props as {
  suggestion: {
    firstSuggestion: string;
    secondSuggestion: string;
    thirdSuggestion: string;
  };
};
---
<button class="selectSuggestionOption flex items-center justify-center bg-gray-300 bg-opacity-50 hover:bg-purple-600 hover:bg-opacity-75 active:bg-purple-800 transform transition-transform duration-150 active:scale-95 rounded-xl text-white px-4 py-1 flex-shrink-0 mb-1 focus:outline-none">
  {suggestion.firstSuggestion}
</button>

<button class="selectSuggestionOption flex items-center justify-center bg-gray-300 bg-opacity-50 hover:bg-purple-600 hover:bg-opacity-75 active:bg-purple-800 transform transition-transform duration-150 active:scale-95 rounded-xl text-white px-4 py-1 flex-shrink-0 mb-1 focus:outline-none">
   {suggestion.secondSuggestion}
</button>

<button class="selectSuggestionOption flex items-center justify-center bg-gray-300 bg-opacity-50 hover:bg-purple-600 hover:bg-opacity-75 active:bg-purple-800 transform transition-transform duration-150 active:scale-95 rounded-xl text-white px-4 py-1 flex-shrink-0 mb-1 focus:outline-none">
   {suggestion.thirdSuggestion}
</button>

